/* ********** Custom Properties ********** */
:root {
    --first-color: #DAD4B5;
    --second-color: #a73121;
    --third-color: #F2E8C6;
    --white-color: #fff;
    --gray-dark-color: #423F3E;
    --black-color: #000;
    --link-color: #A73121;
    --title-color: #171010;
    --text-color: #423F3E;
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: 'Roboto', sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
  }

/* ********** Reset ********** */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    background-color:  var(--third-color);
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
  }
  
  a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
  }
  
  a:hover {
    opacity: 0.75;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  h3 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  h4 {
    margin: 0;
    font-size: 1rem;
  }
  
  h5 {
    margin: 0;
    font-size: 0.85rem;
  }
  
  h6 {
    margin: 0;
    font-size: 0.7rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    line-height: 1.6;
  }
  
 @keyframes bouncel{ 
   0%{
     transform: translateY(30%);
   }
   100%{
     transform: translateY(0%);
   }
 }
 
  
  
  /* ********** Contact Form ********** */
  
  .contact-form {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
  }
  
  .contact-form > * {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
  }
  
  .contact-form input,
  .contact-form textarea {
    font-size: 0.85rem;
    font-family: var(--font);
  }
  
  .contact-form input {
    border: 0;
    padding-left: 0;
    border-bottom: thin solid var(--gray-dark-color);
  }
  
  .contact-form textarea {
    border: thin solid var(--gray-dark-color);
    resize: none;
  }
  
  .contact-form input[type="submit"] {
    margin-top: 0;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  
  .contact-form input[type="submit"]:hover {
    opacity: 0.75;
  }
  
  .contact-form *::placeholder {
    color: var(--gray-dark-color);
  }
  
  .contact-form-response {
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--white-color);
  }
  .contact-form-response svg {
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--first-color);
  }
  
  .modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  @media screen and (min-width: 1024px) {
    .contact-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }
    
    .contact-form input,
    .contact-form textarea {
      font-size: 1rem;
      background-color: var(--thrird-color);
    }
    
    .contact-form textarea,
    .contact-form-loader {
      grid-column: span 2;
    }
  
    .contact-form input[type="submit"] {
      margin-left: 0;
    }
  }
  
  /* ********** Menu ********** */
  .menu-btn {
    outline: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--first-color);
  }
  
  .menu-btn svg {
    fill: var(--second-color);
  }
  
  .menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
  
  .menu.is-active {
    opacity: 1;
    pointer-events: auto;
  }
  
  .menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
  }
  
  .menu a:hover {
    color: var(--white-color);
    background-color: var(--first-color);
  }
  
  @media screen and (min-width: 1024px) {
    .menu-btn {
      display: none;
    }
  
    .menu {
      position: static;
      width: auto;
      flex-direction: row;
      opacity: 1;
      pointer-events: auto;
    }
  
    .menu a {
      padding: 0 1rem;
    }
  
    .menu a:last-child {
      padding-right: 0;
    }
  
    .menu a:hover {
      background-color: transparent;
    }
  }
  
  /* ********** Modal ********** */
  .modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
  }
  
  .modal-content {
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .modal-close svg {
    width: 3rem;
    height: 3rem;
    fill: var(--second-color);
  }
  
  
  /* ********** Utilities ********** */
  
  
  .box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(82, 5, 5, 0.5);
  }
  
  .btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
    background-color: var(--second-color) !important;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
  }
 
  .none {
    display: none;
  }
  
  .section {
    padding: 2rem 1rem;
  }
  
  .section-title {
    border-top: thin solid var(--second-color);
    border-bottom: thin solid var(--second-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    text-align: center;
    color: var(--title-color);
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  @media screen and (min-width: 1024px) {
    .full-lg-screen {
      width: 100%;
      min-height: 100vh;
    }
  
    .text-lg-center {
      text-align: center;
    }
  
    .text-lg-left {
      text-align: left;
    }
  
    .text-lg-right {
      text-align: right;
    }
  }
  
  /* ********** Site Styles ********** */
  
  .contact-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .contact-card > svg {
    width: 2rem;
    height: 2rem;
    fill: var(--second-color);
  }
  
  .contact-card > small {
    margin-top: -1rem;
  }
  
  .header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
  }
  
  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a{
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
  }
  .logo::before{
    content: "<";
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
  }
  .logo::after{
    content: "/>";
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
  }
  
  
  .social-media a {
    padding: 0 0.4rem;
    text-decoration: none;
  }
  
  .social-media img {
    width: 1rem;
    height: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .contact-cards {
      display: grid;
      grid-template-columns: repeat(2, 48%);
      justify-content: space-between;    }
  

  }
  
  @media screen and (min-width: 1024px) {
    .contact-cards {
      grid-template-columns: repeat(4, 24%);
    }
  
    .footer {
      margin-bottom: 0;
    }
  
    .header {
      position: sticky;
      top: 0;
      padding: 0.5rem;
      height: calc(var(--header-height) - 0.5rem);
    }
  }